body{
font:10px Helvetica, Arial, sans-serif;
background-image:url('layout/bg.gif');
}


#header, #footer{
background-image:url('layout/header_stripe_bg.gif');
height:92px;
}
#header{
height:92px;
}
#footer{
height:100px;
width:100%;
}

#footer div{
height:98px;
position:relative;
top:1px;
background-image:url('layout/footer_bg.jpg');
}



#header div{
position:relative;
background-image:url('layout/header_menu_bg.png');
top:4px;
height:91px;
}
/*header menu*/
#header div #menu{
width:790px;
margin: 0 auto;
background-image:none;
position:relative;
}

#menu img{
margin-top:12px;
}

#menu ul{
float:right;
width:506px;
margin-top:32px;
}
#menu ul li{
display:inline;
}

#menu ul li a{
font-size:14px;
color:#404040;
border:1px solid #bfbfbf;
padding:5px 10px;
background:#f2f2f2 url('layout/buttons_bg.png') repeat-x; 
margin:-2px;
text-decoration:none;

-moz-transition: all .3s;
-webkit-transition: all .3s;
-o-transition: all .3s; 
transition: all .3s;
}

#menu ul li a:hover {
background-color:#ddd; 
color:#666;
z-index:10;
position:relative;
-webkit-box-shadow: 0px 0px 4px rgba(1, 180, 246, 1);
-moz-box-shadow:    0px 0px 4px rgba(1, 180, 246, 1);
box-shadow:         0px 0px 4px rgba(1, 180, 246, 1);
}



#menu ul li a.first{
-moz-border-radius:5px 0px 0px 5px;
-webkit-border-radius:5px 0px 0px 5px;
-o-border-radius:5px 0px 0px 5px;
border-radius:5px 0px 0px 5px;
}

#menu ul li a.last{
-moz-border-radius:0px 5px 5px 0px;
-webkit-border-radius:0px 5px 5px 0px;
-o-border-radius:0px 5px 5px 0px;
border-radius:0px 5px 5px 0px;
}

/*content*/
body,html{
height:auto;
height:100%;
}

#content{
width:790px;
padding-top:28px;
margin:0 auto;
position:relative; 
min-height:75%;
height:auto !important;
height:100%;
overflow:hidden;
}

#footer{
position:relative;
}

/*typography*/
h1,h2,h3,h4,h5,h6{
color:#346b99;
display:block;
clear:both;
}

h1{
font-size:24px;
margin-bottom:8px;
}

h2{
font-size:18px;
margin-bottom:6px;
padding-top:46px;
}
h1 img{
position:relative;
vertical-align:middle;
left:-6px;

}

p{
color:#404040;
font-size:14px;
}

.productDescription li{
width:110px;
float:left;
margin-right:16px;
}
.productDescription {
padding-top:46px;
}

.productDescription, .productFeatures li img{
display:block;
margin:0 auto 13px auto;
}

.productDescription, .productFeatures li p{
text-align:center;
color:#595959;
font-size:12px;
}

.productFeatures ol li{
background-image:url('layout/bullet.png') ;
background-repeat:no-repeat;
color:#595959;
font-size:12px;
min-height:19px;
padding:3px 0 2px 23px;
}

.productFeatures ol{
float:left;
width:550px;
}
.productFeatures ul{
overflow:hidden;
padding-bottom:46px;
}
.contact{
color:#595959;
width:230px;
float:right;
}
.contact span{
color:#0e4184;
display:block;
margin-bottom:15px;
font-weight:bold;
}

.contact a{
display:block;

width:108px;
height:30px;
color:white;
font-weight:bold;
text-align:center;
padding-top:6px;
float:right;
text-decoration:none;
background:transparent url('layout/button_green.png')no-repeat;

}

.productFeatures ul li{
width:170px;
float:left;
margin-left:30px;
}
.productFeatures ul li:last-child{
margin-left:0;
}
.productFeatures ul {
width:570px;
clear:both;
margin:46px auto 0;
padding-top:46px;
}

form#zakaz input[type=submit] {
width:108px;
height:30px;
border:none;
color:white;
font-weight:bold;
background:transparent url('layout/button_green.png');
cursor:pointer;
}

form#zakaz{
width:306px;
padding:12px;
clear:both;
border:1px solid white;

-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;

-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
-moz-box-shadow:    0px 1px 2px rgba(0, 0, 0, 0.25);
box-shadow:         0px 1px 2px rgba(0, 0, 0, 0.25);

}

form#zakaz *{
display:block;
width:98%;
margin-bottom:23px;
}


form#zakaz input{
height:26px;
}

form#zakaz input, textarea{
border:1px solid #ddd;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

form#zakaz label{
font-size:14px;
color:#595959;
margin-bottom:6px
}

#footer div ul{
padding-top:12px;
width:520px;
margin:0 auto;
}
#footer div ul li{
display:inline;
margin:0 2px;

}

#footer div ul li a{
font-size:12px;
color: #595959;
text-decoration:none;
}
#footer div ul li a:hover{
color: grey;
text-decoration:underline;
}


/*links block*/
.links ul li a span{
display:block;
margin:0 auto;
}

.links ul {
height:200px;
width:636px;
} 
.links{
height:200px;
width:630px;
margin:0 auto 92px auto;
} 


.links ul li{
float:left;
width:150px;
margin:4px;
}

.links ul li:first-child{
margin-left:4px;
}

.links ul li a{
display:block;
width:150px;
height:150px;
border:1px solid #bfbfbf;
background-image:url('layout/link_bg.jpg');
text-decoration:none;
font-size:16px;
color:#266092;
text-align:center;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
-o-border-radius: 9px;
border-radius: 9px;

-moz-transition: all .3s;
-webkit-transition: all .3s;
-o-transition: all .3s; 
transition: all .3s;
}
.links ul li a span{
position:relative;
top:74px;
}

.links ul li a img{
position:relative;
top:40px;
}

.links ul li a:hover{
opacity:.75;
-webkit-box-shadow: 0px 0px 4px rgba(1, 180, 246, 1);
-moz-box-shadow:    0px 0px 4px rgba(1, 180, 246, 1);
box-shadow:         0px 0px 4px rgba(1, 180, 246, 1);
}


.services{
width:630px;
height:150px;

margin:0 auto}


.services>li{
float:left;
width:150px;
margin-left:10px;
}
.services li ul li{
padding-bottom:12px;
}

.services>li:first-child{
margin-left:0px;
}

.services a{
font-size:12px;
color:#0ac3ff;
}















































