svg{
display:none;
}
/*colors
blue : #2e6aa2
grey : #cdcdcd
*/
/*====================
main body styles
====================*/
html{
background-image:url('../layout/bg.gif');
font:10px Helvetica, Arial, sans-serif;
}

body{
background-image:url('../layout/background_gradient.png');
background-position:center top;
}

.header, .footer{
background-image:url('../layout/header_stripe_bg.gif');
height:92px;}

.header, .footer,body,html{
min-width:1000px;
}


.header{
margin-bottom:24px;
}


/*====================
header
====================*/
.header .innerDiv{
position:relative;
background-image:url('../layout/header_menu_bg.png');
top:2px;
height:91px;
}

/*====================
header menu
====================*/
.menu{
min-width:1000px;
top:12px;
}

.menuLink.home{
text-indent:-9999px;
padding:0px 10px;
display:block;
background:#f2f2f2 url("../layout/home_bg.png") no-repeat center center;
}

.home:hover{
background:#f2f2f2 url("../layout/home_bg.png") no-repeat center center;
}

.header .menu{
width:790px;
margin: 0 auto;
background-image:none;
position:relative;
}

.header .headerUl{
border:1px solid #cdcdcd;
position:relative;
top:16px;
float:right;
background:#f2f2f2 url('../layout/buttons_bg.png') repeat-x center center;
 
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
}

.header .headerUl a{
font-size:1.25em;
color:#2e6aa2;
text-decoration:none;

-moz-transition: all .3s;
-webkit-transition: all .3s;
-o-transition: all .3s; 
transition: all .3s;
}

.menu .menuButton:hover{
background:#f2f2f2 url('../layout/buttons_bg.png') repeat-x center center;
z-index:10;
position:relative;
-webkit-box-shadow: 0px 0px 4px rgba(1, 180, 246, .75);
-moz-box-shadow:    0px 0px 4px rgba(1, 180, 246, .75);
box-shadow:         0px 0px 4px rgba(1, 180, 246, .75);

-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
}

.menu .menuButton span:hover{
background:none;
}

.header .headerUl .linkWrapper{
padding:8px 10px;
background:url('../layout/button_littleStroke_bg.png')no-repeat left center ;
display:inline-block;
width:auto;
}

.header .headerUl .first span{
background:none;
}

.header .headerUl .menuButton{
margin-right:-4px;
display:inline-block;
}

.menu img{
padding-left:10px;
}

/*====================
second menu
====================*/
.secondMenu{
float:right;
margin-right:10px;
margin-left:138px;
}

.secondMenu .menuButton{
display:inline-block;
}

.secondMenu .menuLink {
width:auto;
height:auto;
display:inline-block;
text-align:right;
}

.secondMenu .menuLink .first{
text-indent:0;
padding-left:26px;
background:transparent url('../layout/icon_mail.png') no-repeat 8px;
}

.secondMenu .menuLink .last{
text-indent:0;
padding-right:31px;
}

.en, .ru{
text-align:left;
display:inline-block;
width:auto;
}

a.last.ru{
background:url('../layout/flag.png') no-repeat 34px 5px;
}

a.last.en{
background:url('../layout/flag.png') no-repeat 34px -31px;
}


/*====================
Phone module in header
====================*/

.header div.phone{
clear:both;
float:right;
background:#0164d7 url(../layout/icon_phone.png) no-repeat 2px;
display:inline-block;
padding-left:24px;
padding-right:10px;
height:24px;
position:absolute;
bottom:-45px;
right:0;
margin-right:10px;

-moz-border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px;
-o-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
}

.header .phone p{
font-size:.99999em;
padding-top:4px;
color:white;
}

.header .phone span{
font-weight:bold;
font-size:1.25em;
}

/*====================
Content
====================*/

.content{
width:790px;
padding-top:28px;
padding-bottom:46px;
margin:0 auto;
position:relative; 
min-height:100%;
height:auto !important;
height:100%;
}

body#mainPage h1 ,body#mainPage h2 ,body#mainPage h2{
text-align:center;
padding-bottom:22px;
}

.mainHeading{
text-align:center;
padding-bottom:22px;
color:#2e6aa2;
font-size:16px;
}


/*====================
Galery
====================*/

.galery{
width:790px;
}

.slide{
width:550px;
height:356px;
margin:0 auto;
background:url('../layout/galery_shadow.png')no-repeat center 292px;
}

.galery li div{
width:490px;
margin:0 auto;
}

.galery span{
font-size:14px;
display:block;
color:#595959;
width:470;
height:30px;
background:white;
background:rgba(255,255,255,.75);
padding:15px 15px 0px;
position:relative;
top:-50px;
}

/*====================
links block
====================*/

.links ul li a span{
display:block;
margin:0 auto;
}

.links ul {
height:auto;
width:636px;
} 
.links{
width:630px;
margin:0 auto 46px auto;
height:104px;
padding-bottom:40px;
} 


.links ul li{
text-align:center;
float:left;
width:150px;
margin:4px;
}

.links ul li:first-child {
margin-left:4px;
}

.links ul li a{
display:block;
width:150px;
height:150px;
border:1px solid #bfbfbf;
background-image:url('../layout/link_bg.jpg');
text-decoration:none;
font-size:16px;
color:#266092;
text-align:center;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
-o-border-radius: 9px;
border-radius: 9px;

opacity:.75;

-moz-transition: all .3s;
-webkit-transition: all .3s;
-o-transition: all .3s; 
transition: all .3s;
}
.links ul li span{
    position: relative;
    top: 32px;
}

.links ul li a img{
 position: relative;
    top: 22px;
}

.links ul li a:hover {
opacity:1;
-webkit-box-shadow: 0px 0px 4px rgba(1, 180, 246, 1);
-moz-box-shadow:    0px 0px 4px rgba(1, 180, 246, 1);
box-shadow:         0px 0px 4px rgba(1, 180, 246, 1);
}

.services{
width:630px;
height:100px;

margin:0 auto}


.services>li{
float:left;
width:140px;
padding-left:10px;
margin-left:10px;
background:url('../layout/vdivider.png') repeat-y;
}
.services li ul li{
padding-bottom:12px;
}

.services li ul {
height:100px;
}

.services>li:first-child {
margin-left:0px;
background:none;
}

.services a{
font-size:11px;
color:#0ac3ff;
}

.services,.services a{
text-align:center;
color:#266092;
}
/*====================
footer
====================*/

.footer div{
height:98px;
position:relative;
top:1px;
background-image:url('../layout/footer_bg.jpg');
}


.footer div ul{
padding-top:12px;
width:358px;
margin:0 auto;
}
.footer div ul li{
display:inline;
margin-left:2px;

}

.footer div ul li:first-child{
display:inline;
margin-left:0;

}


.footer div ul li a{
font-size:12px;
color: #595959;
text-decoration:none;
}
.footer div ul li a:hover {
color: gray;
text-decoration:underline;
}

